/* Media querries */

@media (max-width: 1121px) {
	.container {
		width: 50%;
	}
}
@media (max-width: 800px) {
	html {
		font-size: 8px;
	}
}
@media (max-width: 600px) {
	.container {
		width: 70%;
	}
}
@media (max-width: 425px) {
	.container {
		width: 90%;
	}
}
@media (max-width: 330px) {
	.container {
		width: 100%;
	}
	.spending-div {
		padding: 1.2rem;
	}
}
